/* You can add global styles to this file, and also import other style files */

@import "./styles/normalize";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: #3f51b5;
}

.xng-breadcrumb-seprator {
  padding: 0 0;
}
