@import "../../../styles/colors";

section {
  mat-list-item {
    cursor: pointer;
  }

  display: flex;

  .header-item-selected {
    background: lighten($color: $tab-item-selected, $amount: 10%);
  }

  .left-sidenav {
    width: 15%;
    padding: 2em;
    min-height: 500px;
  }

  .right-sidenav {
    padding: 30px;
    width: 85%;
  }
}
