<section *ngIf="loginForm">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        type="email"
        matInput
        placeholder="Ex. meow@example.com"
      />
      <mat-error
        *ngIf="
          loginForm.get('email')!.invalid && loginForm.get('email')!.touched &&
          loginForm.get('email')!.errors?.['required']
        "
        >Email is required.
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')!.errors?.['pattern']"
        >Enter a valid email.</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        type="password"
        matInput
        placeholder="Can't see your Meow"
      />
      <mat-error
        *ngIf="
          loginForm.get('password')!.invalid && loginForm.get('password')!.touched &&
          loginForm.get('password')!.errors?.['required']
        "
        >Password is required.
      </mat-error>
    </mat-form-field>
    <br />
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
</section>
