<section *ngIf="addressForm">
  <form [formGroup]="addressForm">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        formControlName="firstName"
        type="text"
        matInput
        placeholder="Ex. Meow Meow"
      />
      <mat-error
        *ngIf="
        addressForm.get('firstName')!.errors?.['required']
          "
        >First Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        formControlName="lastName"
        type="text"
        matInput
        placeholder="Ex. Meow Meow"
      />
      <mat-error
        *ngIf="
        addressForm.get('lastName')!.errors?.['required']
          "
        >Last Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Stree</mat-label>
      <input
        formControlName="street"
        type="text"
        matInput
        placeholder="Ex. Meow Street"
      />
      <mat-error
        *ngIf="
        addressForm.get('street')!.errors?.['required']
          "
        >Street is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input
        formControlName="city"
        type="text"
        matInput
        placeholder="Ex. Meow City"
      />
      <mat-error
        *ngIf="
        addressForm.get('city')!.errors?.['required']
          "
        >City is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>State</mat-label>
      <input
        formControlName="state"
        type="text"
        matInput
        placeholder="Ex. Meow State"
      />
      <mat-error
        *ngIf="
        addressForm.get('state')!.errors?.['required']
          "
        >State is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Zip Code</mat-label>
      <input
        formControlName="zipCode"
        type="text"
        matInput
        placeholder="Ex. Meow Zip Code"
      />
      <mat-error
        *ngIf="
        addressForm.get('zipCode')!.errors?.['required']
          "
        >Zip Code is required.
      </mat-error>
    </mat-form-field>

    <br />

    <button mat-raised-button color="primary" matStepperNext>Next</button>
    <button mat-button matStepperPrevious>Back</button>
  </form>
</section>
