<mat-toolbar color="primary" class="header">
  <div>
    <img
      src="../../../assets/images/logo.png"
      class="logo"
      routerLink="/"
      alt="Logo"
    />
    <a
      mat-button
      routerLink="/"
      routerLinkActive="header-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a mat-button routerLink="/shop" routerLinkActive="header-item-selected"
      >Shop</a
    >
    <a
      mat-button
      routerLinkActive="header-item-selected"
      routerLink="/dashboard"
      >Dashboard</a
    >
  </div>

  <div>
    <a
      *ngIf="basket$ | async as basket"
      mat-button
      routerLink="/basket"
      routerLinkActive="header-item-selected"
    >
      <mat-icon [matBadge]="basket.items.length" matBadgeColor="warn"
        >shopping_cart
      </mat-icon>
    </a>
    <ng-container *ngIf="(currentUser$ | async) === null">
      <a mat-button routerLink="/login" routerLinkActive="header-item-selected"
        >Login</a
      >
      <a
        mat-button
        routerLink="/register"
        routerLinkActive="header-item-selected"
        >Register</a
      >
    </ng-container>

    <div *ngIf="currentUser$ | async as user" class="header-right">
      <div>Welcome {{ user.displayName | titlecase }}</div>
      <button mat-raised-button (click)="logout()">Logout</button>
    </div>
  </div>
</mat-toolbar>
