<mat-toolbar color="primary" class="header">
  <div>
    <img
      src="../../../assets/images/logo.png"
      class="logo"
      routerLink="/"
      alt="Logo"
    />
    <a
      mat-button
      routerLink="/"
      routerLinkActive="header-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a mat-button routerLink="/shop" routerLinkActive="header-item-selected"
      >Shop</a
    >
    <a mat-button routerLinkActive="header-item-selected">Dashboard</a>
  </div>

  <div>
    <a mat-button>
      <mat-icon matBadge="5" matBadgeColor="warn">shopping_cart</mat-icon>
    </a>
    <a mat-button routerLink="/login" routerLinkActive="header-item-selected"
      >Login</a
    >
    <a mat-button routerLink="/register" routerLinkActive="header-item-selected"
      >Register</a
    >
  </div>
</mat-toolbar>
